.card {
    padding: 24px 40px;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: auto;
    
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


@media only screen and (max-width: 600px) {
    .card-container {
      flex-direction: column;
    }
  }