header {
    padding-top: 1rem;
    text-align: center;
}

.header-row {
    width: 90%;
    display: inline-block;
}

.intro {
    padding-top: 1rem;
    justify-content: space-around;
    flex-direction: row;
}

p {
    width: 90%;

}