button {
    color: white;
    padding: 16px 24px;
    border-radius: 5px;
    border: none;
  }

  .green {
      background-color: green;
      color: white;
  }
  
  .blue {
    background-color: blue;
    color: white;
  }