.faqs {
    background-color: rgb(246, 237, 209);
    color: black;
    padding-left: 2rem;
    padding-top: 2rem;
}

.faqs-body {
    text-align: left;
}

.faqs-title {
    font-size: 4rem;
    font-family: 'Atomic Age', cursive;
}