.button-sea {
    width: 70%;
    text-align: center;
}

header {
    padding-top: 1rem;
    text-align: center;
    max-width: 100rem;
    align-items: flex-start;
}

.header-col {
    display: inline-block;
    max-width: 300px;
    position: relative;
    margin: 1rem auto;
    text-align: left;
}

.header-image {
    border-radius: 1rem;
}

.header-row {
    width: 90%;
    display: inline-block;
}

.intro {
    padding-top: 1rem;
    justify-content: space-around;
    flex-direction: row;
}

.intro-header {
    padding-right: 1rem;
    font-size: 4rem;
}

.logo {
    font-family: 'Spinnaker', sans-serif;
}

@media only screen and (max-width: 640px) {
    .intro {
      flex-direction: column;
    }

    header {
        padding-bottom: 0rem;
    }

    .header-col {
        display: block;
        width: 100%;
        margin: 0px auto;
    }

    .header-row {
        align-items: center;
        width: 100%;
    }

    p {
        padding-left: 2rem;
    }
  }