header {
    padding-top: 1rem;
    text-align: center;
}

.header-col {
    display: inline-block;
    max-width: 40%;
    align-items: flex-start;
}

.header-row {
    width: 90%;
    display: inline-block;
    align-items: flex-start;
}

.intro {
    padding-top: 1rem;
    justify-content: space-around;
    flex-direction: row;
}

p {
    width: 90%;

}