.App {
  text-align: center;
  background-color: rgb(76, 76, 76);
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

button {
  background-color: green;
  color: white;
  padding: 16px 24px;
  border-radius: 5px;
  border: none;
}

header {
  top: 0px;
}

.logo {
  font-size: xx-large;
}

nav {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  top: 0rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
