.App {
  text-align: center;
  background-color: white;
  position: relative;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-size: xx-large;
}

nav {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  top: 0rem;
}

h2, h3, p, ul {
  width: 70%;
  margin: 0px auto;
  text-align: left;
  padding-bottom: 1rem;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

section {
  padding: 0rem 4rem 2rem 4rem;

}
