.App {
  text-align: center;
  background-color: white;
  position: relative;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-size: xx-large;
}

nav {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  top: 0rem;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

section {
  padding-bottom: 2rem;
}
